<% if defined?(message.user) %>
<li class="right clearfix">
  <div class="chat-body clearfix">
    <div class="header">
      <small class="text-muted">
        <span><br></span>
      </small>
    </div>
    <p class="pull-left primary-font bubble">
      <%= message.content %></p>
  </div>
</li>

<% end %>
