<div class="panel-footer">
  <div class="input-group">
    <span class="input-group-btn">
    <%= form_for(@message, remote: true) do |f| %>

    <%= f.text_field :content, id: 'btn-input', class:"form-control input-sm", placeholder: 'Type your message here...', autocomplete: 'off' %>
      <%= f.submit "Send", class: "btn btn-warning btn-sm", id: "btn-chat", style: 'display: none'%>
    </span>

  </div>
  <% end %>
</div>
