<% if defined?(message.user) %>
  <li class="left clearfix">
  <div class="chat-body clearfix">
    <p class='bubble'>
      <%= message.content %>
    </p>
  </div>
  </li>
<% else %>
  <li class="right clearfix">
  <span class="chat-img pull-right">
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font">Robotrainer<strong>
    </div>
    <p>
    </p>
  </div>
  </li>
<% end %>
