<div class="panel-heading" id="accordion">
  <span class="glyphicon glyphicon-comment"></span>
  Chat
  <div class="btn-group pull-right">
    <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
</div>
<div class="panel-collapse in" id="collapseOne">
<div class="panel-body">
  <ul class="chat">
    <% if @messages.any? %>
    <%= render @messages %>
    <% end %>
  </ul>
</div>
</div>
