<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Lift Lab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
                <%= image_tag("Liftlab-Final-Logo-v7-light.png", class: "img-responsive") %>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>LiftLab is developing AI and robotics that help people radically optimize their exercise routine. Have a chat with our AI personal trainer to have him create for you a custom workoutl</h1>
            <a href="#features" class="btn btn-outline btn-xl page-scroll">Speak with our AI trainer!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary ">
          <%= render 'messages' %>
          <%= render 'message_form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- jQuery -->
<script src="lib/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/new-age.min.js"></script>

</body>
