<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary">
          <%= render 'messages' %>

          <%= render 'message_form' %>

        </div>
      </div>
    </div>
</div>

<iframe
    width="350"
    height="430"
    src="https://console.api.ai/api-client/demo/embedded/074e7ed8-1509-424c-86e3-d01a5adebfab">
</iframe>
